@font-face {
  font-family: "norsebold";
  src: url("assets/webfontkit/norse-bold-webfont.woff2") format("woff2"),
    url("assets/webfontkit/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --create-acc-btn: #594d48;
  --light-border: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
}

/* ********* - Reset - *********** */

p {
  font-family: "norsebold";
}

#vertical-container {
  display: flex;
  flex-direction: row;
}

/* Left side CSS */
#image-container {
  position: relative;
  width: 33%;
}

#image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#odin-banner-text {
  position: absolute;
  top: 0px;
  background-color: #e5e7eb;
  width: 33%;
  z-index: 1;
}

#credit-banner-text {
  position: absolute;
  bottom: 0px;
  background-color: #e5e7eb;
  width: 33%;
}

/* Right side CSS */

#form-container {
  background-color: aqua;
  width: 67%;
}
