@font-face {
  font-family: "norsebold";
  src: url("assets/webfontkit/norse-bold-webfont.woff2") format("woff2"),
    url("assets/webfontkit/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --create-acc-btn: #594d48;
  --light-border: #e5e7eb;
  --white-text: white;
  --black-accent: black;
}

* {
  margin: 0;
  padding: 0;
}

/* ********* - Reset - Font - Color definitions - *********** */

p {
  font-family: "Courier New", Courier, monospace;
}

#vertical-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Left side CSS */
#image-container {
  position: relative;
  width: 33%;
  height: 100%;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 12%;
}
#odin-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 18%;
  width: 100%;
  height: 20%;
  z-index: 1;
}

#odin-banner-text {
  font-size: 4rem;
  font-family: "norsebold";
  color: var(--white-text);
}

#odin-logo {
  /* How do i dynamically size this? */
  width: 90px;
  height: auto; /* keeps aspect ratio */
}

#credit-banner {
  display: flex;
  justify-content: center;
  color: var(--white-text);
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

#credit-banner-text > a {
  color: var(--white-text);
}

/* Right side CSS */

#form-container {
  background-color: aqua;
  width: 67%;
}
