@font-face {
  font-family: "norsebold";
  src: url("assets/webfontkit/norse-bold-webfont.woff2") format("woff2"),
    url("assets/webfontkit/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --grey-background: rgba(249, 250, 251, 255);
  --acc-btn: #596d48;
  --light-border: #e5e7eb;
  --white-text: #e8e8e8;
  --white-background: white;
  --gray-text: #585858;
  --black-text: black;
  --black-accent: black;
  --gray-input-border: #d3d3d3;
  --input-error: red;
  --input-accept: green;
  --input-focus: blue;
}

* {
  margin: 0;
  padding: 0;
}

/* ********* - Reset - Font - Color definitions - *********** */

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: var(--grey-background);
}

input {
  border: 1px solid var(--gray-input-border);
  border-radius: 5px;
  height: 20px;
  padding: 4px;
  width: 200px;
}

input:focus {
  border: 1px solid var(--input-focus);
}

input:invalid {
  border: 1px solid var(--input-error);
}

#vertical-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Left side CSS */
#image-container {
  position: relative;
  width: 33%;
  height: 100%;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 12%;
}
#odin-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 18%;
  width: 100%;
  height: 20%;
  z-index: 1;
  overflow: hidden;
}

#odin-banner-text {
  font-size: 4rem;
  font-family: "norsebold";
  color: var(--white-text);
}

#odin-logo {
  width: 90px;
  height: auto;
}

#credit-banner {
  display: flex;
  justify-content: center;
  color: var(--white-text);
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

#credit-banner-text > a {
  color: var(--white-text);
}

#form-container {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;
}

#top-row-text-area {
  width: 100%;
  max-width: 800px;
  font-size: 1.6rem;
  margin-left: 40px;
  font-weight: 700;
}

#form-area {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  background-color: var(--white-background);
  min-height: 32%;
  height: auto;
  font-size: 0.8rem;
  overflow: auto;
}

#upper-text {
  color: var(--black-text);
  font-size: 1.2rem;
  letter-spacing: 0.07rem;
  font-weight: 600;
  padding-bottom: 20px;
}

#form-section {
  padding-left: 40px;
  font-weight: 600;
  font-size: 0.65rem;
  color: var(--gray-text);
}
.input-section {
  display: flex;
  align-items: center;
  justify-content: start;
  align-content: center;
}

#submit-button {
  max-width: 180px;
  min-height: 42px;
  width: 100%;
  background-color: var(--acc-btn);
  margin-left: 45px;
  border-radius: 5px;
  color: var(--white-text);
  font-weight: bold;
  border: 1px solid #596d48;
  overflow: hidden;
}

#know-accent-italic {
  font-style: italic;
}
#have-account-container {
  margin-left: 42px;
  text-decoration: none;
  overflow: hidden;
}
#have-account-container > p > a {
  text-decoration: none;
  color: var(--acc-btn);
  font-weight: 600;
}

.form-inputs-labels {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 40px;
}
.field {
  display: flex;
  flex-direction: column;
}
